/* General */


html {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #C5C6C7;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    justify-content: center;
    justify-items: center;
}

.container_headings {
    height: 32px;
    width: 100%;
    margin-bottom: 0;
    line-height: 0;
}

.bounce {
    position: absolute;
}


h3 {
    font-size: 50px;
    color: #00FCF1;
    text-transform: uppercase;
    font-style: italic;
    background-color: #c5c6c749;
}

h4 {
    font-size: 32px;
    color: #00FCF1;
}

figure {
    width: 10%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
figure img{
    border-radius: 100px;
    display: flex;
    height: 50%;
    width: auto;
}

figcaption {
    display: flex;
}

/* Header */

header {
    border-bottom: #00FCF1 solid 5px;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.container_header_name {
    line-height: 0.5;
    float: left;
}

/*
.container-nav {
    box-sizing: border-box;
    float: right;
}
*/

header h1 {
    color: #00FCF1;
}

header h2 {
    color: #00FCF1;
}

/*
header nav {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
}
*/

/*
header li, header a {
    display: inline-flex;
    color: #00FCF1;
    padding-right: 5px;
    text-decoration: none;  
}
*/

/* Add nav hover options */

header a:hover {
    border-bottom: #00FCF1 2px solid;
    box-sizing: border-box;
}

/* Demo Nav Test */

.icon-1, .icon-2, .icon-3 {
    position: absolute;
    right: 10%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: #00FCF1;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  }
  
  .icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
  }
  
  .icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
  }
  
  .hamburger-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 3%;
    top: 3%;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: black;
  }
  .hamburger-icon:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
  
  .icon-1.a {
    transform: rotate(40deg);
  }
  
  .icon-3.b {
    transform: rotate(-40deg);
  }
  
  .icon-2.c {
    opacity: 0;
  }
  
  .clear {
    clear: both;
  }
  
  @keyframes slideIn {
    0% {
      width: 0%;
      opacity: 0;
    }
    100% {
      width: 25%;
      opacity: 1;
    }
  }

  nav {
    background: #00FCF1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    z-index: 10;
    opacity: 0;
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
    transition-delay: 100ms;
  }
  nav ul {
    margin: 0;
    position: absolute;
    top: 30%;
    right: 35%;
  }
  nav ul li {
    list-style: none;
    font-size: 24px;
    color: #fff;
    line-height: 4;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    text-decoration: none;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }

  nav a:hover {
      border-bottom: #fff solid 2px;
      padding-bottom: 5px;
  }
  nav.show {
    width: 25%;
    opacity: 1;
  }
  
  .merc-blue {
    position: absolute;
    top: 0;
    right: 0;
    background: #00FCF1;
    height: 100%;
    width: 0%;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    transition-delay: 50ms;
    z-index: 5;
    opacity: 1;
  }
  
  .merc-blue.slide {
    width: 25%;
    opacity: 1;
  }
  
  @keyframes shotup {
    0% {
      transform: translateY(300%);
      opacity: 0;
    }
    90% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

/* Welcome Text */

.container_welcome {
    height: 750px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2.5%;
    position: static;
    background-image: url("../resources/pc_development_banner.jpeg");
    overflow: hidden;
    background-position: center;
    background-size: cover;
    z-index: 25%;
}

.welcome-message {
    width: 100%;
    color: #00fff2;
    opacity: 100%;
    font-size: 4rem;
    float: right;
    background-color: #c5c6c72c;
    height: 15%;
}



/* About Me Section */

.container_about-me {
    background-color: #1F2833;
    display: flex;
    height: 600px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    flex-direction: column;
    flex-wrap: wrap;
}

.container_about-me-data {
    display: flex;
    height: 90%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 95%;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 0.5;
}

.container_about-me img {
    border-radius: 100%;
    height: 20rem;
    width: auto;
    border
}

.about-me-text {
    flex-direction: column;
}

/* Skills */

.container_section {
    margin-top: 2.5%;
    height: 300px;
    background-color: #1F2833;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_skill_logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 75%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



/* Projects */

.container_projects {
    height: 400px;
    background-color: #1F2833;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border:#C5C6C7 5px solid;
}

.project-img {
    width: 100%;
    height: 75%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure a {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 10%;
}

figure img{
    display: flex;
    height: 50%;
    width: auto;
    border-radius: 0;
}

figcaption {
    padding-top: 0;
    margin-top: 0;
    display: flex;
    line-height: 1.5;
}

/* Contact Me */

.container_section {
    height: 400px;
    background-color: #1F2833;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    line-height: 2;
}

.container_section label {
    display: inline-flex;
    width: 100px;
}


/* Footer */

footer {
    margin-top: 2.5%;
    height: 100px;
    width: 100%;
}

footer figure img {
    height: 40px;
    width: auto;
    border-radius: 0;
}

.media_images {
    display: inline-flex;
    padding-right: 0;
    margin: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 480px) {

/* --- General --- */

    h4 {
        font-size: 28px;
    }

/* --- Navigation --- */

.icon-1, .icon-2, .icon-3 {
    position: absolute;
    right: 10%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: #00FCF1;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  }
  
  .icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
  }
  
  .icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
  }
  
  .hamburger-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 10%;
    top: 2%;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: black;
  }
  .hamburger-icon:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
  
  .icon-1.a {
    transform: rotate(40deg);
  }
  
  .icon-3.b {
    transform: rotate(-40deg);
  }
  
  .icon-2.c {
    opacity: 0;
  }
  
  .clear {
    clear: both;
  }
  
  @keyframes slideIn {
    0% {
      width: 0%;
      opacity: 0;
    }
    100% {
      width: 50%;
      opacity: 1;
    }
  }

  nav {
    background: #00FCF1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    z-index: 10;
    opacity: 0;
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
    transition-delay: 100ms;
  }
  nav ul {
    margin: 0;
    position: absolute;
    top: 30%;
    right: 30%;
  }
  nav ul li {
    list-style: none;
    font-size: 24px;
    color: #fff;
    line-height: 2.2;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    text-decoration: none;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  nav.show {
    width: 50%;
    opacity: 1;
  }
  
  .merc-blue {
    position: absolute;
    top: 0;
    right: 0;
    background: #00FCF1;
    height: 100%;
    width: 0%;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    transition-delay: 50ms;
    z-index: 5;
    opacity: 1;
  }
  
  .merc-blue.slide {
    width: 25%;
    opacity: 1;
  }
  
  @keyframes shotup {
    0% {
      transform: translateY(300%);
      opacity: 0;
    }
    90% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

/* --- Header --- */
    .container_header_name {
        float: none;
    }

    header {
        height: 60px;
    }

    .container-nav {
        float: none;
    }

    header li, header a {
        font-size: 16px;
        text-align: center;
        justify-content: center;
        float: none;

    }

/* -- Welcome Message -- */
    .container_welcome {
        height: 450px;
        width: 100%;
        background-size: cover;
        background-position-x: center;
        z-index: 25%;
    }

    .welcome-message {
        width: 100%;
        color: #00fff2;
        opacity: 100%;
        font-size: 4rem;
        float: right;
        background-color: #c5c6c72c;
        height: 15%;
    }

    h3 {
        font-size: 30px;
        color: #00FCF1;
        text-transform: uppercase;
        font-style: italic;
        background-color: #c5c6c749;
    }

/* --- About Me --- */

    .container_about-me-data img {
        height: 10rem;
        margin-top: 5%;
    }

.about-me-text {
    line-height: 1;
    }

/* --- Skills --- */

.container_section {
    margin-top: 2.5%;
    height: 250px;
}

.container_skill_logos {
    width: 100%;
    display: flex;
    height: 30%;   
    padding-right: 0;
    flex-wrap: wrap-reverse;
    padding-top: 20%;
}

/* --- Projects --- */


.project-img {
    width: 100%;
    height: 75%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-p {
    visibility: hidden;
}

figure img{
    height: 30%;
}

figcaption {
    margin-top: 0;
    font-size: 0.75rem;
}

/* --- Footer --- */

footer figure img {
    height: 20px;
    width: auto;
    border-radius: 0;
}

.media_images {
    display: inline-flex;
    padding-right: 20%;
    margin: 0;
}


/* JS */

.bounce{
    font-size: 1.2em;
}




/* Still to do:

- Make website adjustable for a tablet and screen sizes up to 1000px
- Add JavaScript element to scroll through the project images, especially on mobile queries
- Make sure the projects images align / in sync
- Improve the contact page
- Add icon to put navigation into collapsible menu
- Add METADATA to head of page

*/