/* General */


html {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #C5C6C7;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container_headings {
    height: 32px;
    width: 100%;
    margin-bottom: 0;
    line-height: 0;
    
}


h3 {
    font-size: 50px;
    color: #00FCF1;
    text-transform: uppercase;
    font-style: italic;
    background-color: #c5c6c749;
}

h4 {
    font-size: 32px;
    color: #00FCF1;
}

figure {
    width: 10%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
figure img{
    border-radius: 100px;
    display: flex;
    height: 50%;
    width: auto;
}

figcaption {
    display: flex;
}

/* Header */

header {
    border-bottom: #00FCF1 solid 5px;
    width: 100%;
    height: 100px;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
}

.container_header_name {
    flex-direction: column;
    float: left;
    line-height: 0.5
}

.container-nav {
    flex-direction: row;
    float: right;
    margin-left: 70%;
}

header h1 {
    color: #00FCF1;
}

header h2 {
    color: #00FCF1;
}

header nav {
    float: right;
}

header li, header a {
    display: inline-flex;
    color: #00FCF1;
    padding-right: 5px;
    text-decoration: none;  
}

/* Add nav hover options */

header a:hover {
    border-bottom: #00FCF1 2px solid;
    padding-bottom: 1px;
}

/* Welcome Text */

.container_welcome {
    height: 750px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2.5%;
    position: static;
    background-image: url("../resources/pc_development_banner.jpeg");
    overflow: hidden;
    background-position: center;
    background-size: cover;
    z-index: 25%;
}

.welcome-message {
    width: 100%;
    color: #00fff2;
    opacity: 100%;
    font-size: 4rem;
    float: right;
    background-color: #c5c6c72c;
    height: 15%;
}



/* About Me Section */

.container_about-me {
    background-color: #1F2833;
    display: flex;
    height: 600px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    flex-direction: column;
    flex-wrap: wrap;
}

.container_about-me-data {
    display: flex;
    height: 90%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 95%;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 0.5;
}

.container_about-me img {
    border-radius: 100%;
    height: 20rem;
    width: auto;
}

.about-me-text {
    flex-direction: column;
}

/* Skills */

.container_section {
    margin-top: 2.5%;
    height: 300px;
    background-color: #1F2833;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_skill_logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 75%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



/* Projects */

.container_projects {
    height: 400px;
    background-color: #1F2833;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.container_headings p {
    
}

figure a {
    margin-top: 5%;
    width: 10%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
figure img{
    border-radius: 100px;
    display: flex;
    height: 50%;
    width: auto;
}

figcaption {
    display: flex;
}

/* Contact Me */

.container_section {
    height: 400px;
    background-color: #1F2833;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    line-height: 2;

}

.container_section label {
    display: inline-flex;
    width: 100px;
}


/* Footer */

footer {
    width: 100%;
    height: 100px;
    background-color: #C5C6C7;
    margin-top: 1%;
}

footer div {
    float: right;
    color: #1F2833;
    margin-right: 5px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.container_social-media {
    display: flex;
    float: left;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    height: 100%;
}

footer figure img {
    height: 40px;
    flex-direction: column;
}

footer figure {
    display: inline-flex;
    padding-right: 5px;
    align-self: center;
    justify-self: center;
}